{% load cropping %}

<style>
    #drop-area.highlight {
        border: 2px dashed black;
    }

    .my-form {
        margin-bottom: 10px;
    }

    #gallery {
        margin-top: 10px;
        margin-left: 2px;
    }

    #gallery img {
        width: 62px;
        height: 45px;
        margin-right: 5px;
        margin-top: 5px;
        vertical-align: middle;
    }

    .button {
        display: inline-block;
        padding: 10px;
        background: #ccc;
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .button:hover {
        background: #ddd;
    }

    #fileElem {
        display: none;
    }
</style>
<div id="drop-area" class="card">
    <div class="card-body text-left">
        <form method="POST" action="/post/create/" enctype="multipart/form-data" class="post-form">
            {% csrf_token %}

            <div class="input-group">
                <textarea class="form-control" rows="3" placeholder="Новая запись" name="comment" id="id_post"></textarea>
            <button class="btn btn-outline-secondary"
                    onclick="create_post(event, 'post/create/', )">
                    <img src="https://image.flaticon.com/icons/svg/786/786205.svg" width=20 height=20>
            </button>


            </div>

            <input type="file" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">
            <div id="gallery"></div>

            {{ formset.management_form }}
            <div style="display: none;">
                {% for form in formset %}
                    {{ form }} <br>
                {% endfor %}
            </div>
        </form>
    </div>
</div>

<script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>

<script>
    autosize(document.getElementById("id_text"));

    let dropArea = document.getElementById('drop-area')

    ;
    ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
        dropArea.addEventListener(eventName, preventDefaults, false);
    })

    function preventDefaults(e) {
        e.preventDefault()
        e.stopPropagation()
    }

    ;
    ['dragenter', 'dragover'].forEach(eventName => {
        dropArea.addEventListener(eventName, highlight, false)
    })

    ;
    ['dragleave', 'drop'].forEach(eventName => {
        dropArea.addEventListener(eventName, unhighlight, false)
    })

    function highlight(e) {
        dropArea.classList.add('highlight')
    }

    function unhighlight(e) {
        dropArea.classList.remove('highlight')
    }

    dropArea.addEventListener('drop', handleDrop, false)

    function handleDrop(e) {
        let dt = e.dataTransfer
        let files = dt.files

        handleFiles(files)
    }

    function handleFiles(files) {
        files = [...files]
        files.forEach(uploadFile)
    }

    function get_free_inputs() {
        let inputs = []
        for (var i = 0; i < 10; i++) {
            let input = document.getElementById("id_form-" + i + "-image")
            if (!input.value) {
                inputs.push(input)
            }
        }
        return inputs
    }

    function uploadFile(file) {
        let inputs = get_free_inputs()
        
        if (inputs.length == 0) {
            alert('Нельзя загрузить более 10 картинок')
            return
        }

        const dT = new DataTransfer()
        dT.items.add(file)
        inputs[0].files = dT.files

        let input_id = inputs[0].id[8]

        previewFile(file, input_id)
    }

    function removeFile(e) {
        let current_id = e.target.id[e.target.id.length - 1]

        document.getElementById("id_form-" + current_id + "-image").value = ''
        e.target.remove()
    }

    function previewFile(file, input_id) {
        let reader = new FileReader()
        reader.readAsDataURL(file)
        reader.onloadend = function () {
            let img = document.createElement('img')
            img.src = reader.result
            img.id = "image_preview-" + input_id
            img.onclick = removeFile
            document.getElementById('gallery').appendChild(img)
        }
    }

    function create_post(e, link){
        let textar = document.getElementById('id_comment');
        let comment_text = textar.value;
        $.ajax({
        type: "POST",
        url: link,
        data: {
        csrfmiddlewaretoken: '{{ csrf_token }}',
        text: comment_text,
        },

        success: function (result) {
        textar.value = "";
        let json = result;

        const li = document.createElement("li");
 let len = $('ul#all_posts li').length;

 let date_arr = json['date'].split(" ");
 let date_year = date_arr[0].split("-");

 let day = date_year[2][0] === '0' ? date_year[2][1] : date_year[2];
 let month = "";

 switch (date_year[1]) {
 case "01":
 month = "января"; break;
 case "02":
 month = "февраля"; break;
 case "03":
 month = "марта"; break;
 case "04":
 month = "апреля"; break;
 case "05":
 month = "мая"; break;
 case "06":
 month = "июня"; break;
 case "07":
 month = "июля"; break;
 case "08":
 month = "августа"; break;
 case "09":
 month = "сентября"; break;
 case "10":
 month = "октября"; break;
 case "11":
 month = "ноября"; break;
 case "12":
 month = "декабря"; break;
 default:
 console.log('Ooops');
 }

 let time = date_arr[1].split(":");

 let str_date = `Создан ${day} ${month} ${date_year[0]} г. ${time[0]}:${time[1]}`;

 li.innerHTML = `
 <div class="media" style="margin: 20px; border-style: outset">
 <img src="{% cropped_thumbnail user.profile "cropping" %}" class="rounded-circle border border-dark" width=35 height=35>
 <div class="media-body">
 <p style="text-align: left; margin-inline-start: 2px; "> Автор комментария ${json['username']}</p>
 <h5 style="text-align: left; margin-inline-start: 10px;">${json['text']}</h5>
 </div>
 <p style="text-align: right; margin: 3px">${str_date}</p>
 </div>
 `;
 document.getElementById('all_posts').appendChild(li);
 }
 })
 }


</script>